.footer-info {
    background-color: whitesmoke;
    display: flex;
    justify-content: space-around;
    color: black;
}

p {
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
}

.whatsapp-icon{
    display: flex;
    justify-content: right;
    margin-right: 5%;
    margin-bottom: 10px;
}

.copyright {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 10px;
}