@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url('./assets/dark-black-wall-texture-background.jpg');
  margin: 0;
  display: flex;
  place-items: top;
  min-width: 320px;
  min-height: 100vh;
  color: whitesmoke;
  font-family: 'Courier New', Courier, monospace;
}

@media (max-width: 640px) {
  body {
    flex-direction: column;
  }
}